In [1]:
import pandas as pd
import sqlite3
from sqlite3 import Cursor
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

#Criar um DB para armazenar tabelas dos times
engine = create_engine('sqlite:////workspaces/Visualiza--o-Dados-Premier-League/0_Bases_Tratadas/premier.db', echo =True)

connection = engine.connect()

#Preparar os dados para serem armazenados em um DB

dados = pd.read_csv('/workspaces/Visualiza--o-Dados-Premier-League/1_Bases_Originais/premier_league_24_25.csv', sep = ';')

In [2]:
#Adicionar uma nova coluna com o vencedor/perdedor

def resultado (time):

    if time['Gols_Casa'] > time['Gols_Visita']:
        return time['Time_Casa']
    elif time['Gols_Casa'] < time['Gols_Visita']:
        return time['Time_Visita']
    else:
        return 'Empate'
    
dados['Vencedor'] = dados.apply(resultado, axis=1)

dados['Time_Casa'] = dados["Time_Casa"].str.replace(' ', '')
dados['Time_Visita'] = dados["Time_Visita"].str.replace(' ', '')
dados['Vencedor'] = dados['Vencedor'].str.replace(' ','')

dados.to_sql('Dados', con  = engine, if_exists='replace', index=False)


Teams = dados['Time_Casa'].unique()
dfteams = pd.DataFrame(Teams, columns= ['Times'])
dfteams = dfteams.sort_values(by=['Times'], ascending= True)
dfteams = dfteams.reset_index(drop=True)
dfteams

2025-12-15 12:47:49,282 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-15 12:47:49,289 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Dados")
2025-12-15 12:47:49,289 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,312 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Dados")
2025-12-15 12:47:49,313 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,314 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 12:47:49,314 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,316 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 12:47:49,316 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,317 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Dados")
2025-12-15 12:47:49,318 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,319 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 12:47:49,320 INFO sqlalchemy.engine.Engine [raw sql] ('Dados',)
2025-12-15 12:47:49,321 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Dados")
2025-12-15 12:47:49,321 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,322 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Dados")
2025-12-15 12:47:49,323 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,323 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 12:47:49,324 INFO sqlalchemy.engine.Engine [raw sql] ('Dados',)
2025-12-15 12:47:49,326 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Dados")
2025-12-15 12:47:49,327 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,328 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Dados")
2025-12-15 12:47:49,329 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,330 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Dados")
2025-12-15 12:47:49,330 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,331 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Dados")
2025-12-15 12:47:49,332 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,332 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Dados")
2025-12-15 12:47:49,333 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,334 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Dados")
2025-12-15 12:47:49,335 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,336 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 12:47:49,336 INFO sqlalchemy.engine.Engine [raw sql] ('Dados',)
2025-12-15 12:47:49,340 INFO sqlalchemy.engine.Engine
DROP TABLE "Dados"
2025-12-15 12:47:49,341 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()
2025-12-15 12:47:49,359 INFO sqlalchemy.engine.Engine
CREATE TABLE "Dados" (
	"Time_Casa" TEXT,
	"Placar" TEXT,
	"Time_Visita" TEXT,
	"Gols_Casa" BIGINT,
	"Gols_Visita" BIGINT,
	"Chute_casa" BIGINT,
	"Chutes_visita" FLOAT,
	chute_errados_casa BIGINT,
	chutes_errados_visita FLOAT,
	defesas_casa BIGINT,
	defesas_visita FLOAT,
	escanteios_casa BIGINT,
	escanteios_visita FLOAT,
	faltas_sofridas_casa BIGINT,
	faltas_sofridas_visita FLOAT,
	faltas_cometidas_casa BIGINT,
	faltas_cometidas_visita FLOAT,
	impedimentos_casa BIGINT,
	impedimentos_visita FLOAT,
	"Vencedor" TEXT
)


2025-12-15 12:47:49,359 INFO sqlalchemy.engine.Engine [no key 0.00060s] ()
2025-12-15 12:47:49,369 INFO sqlalchemy.engine.Engine INSERT INTO "Dados" ("Time_Casa", "Placar", "Time_Visita", "Gols_Casa", "Gols_Visita", "Chute_casa", "Chutes_visita", chute_errados_casa, chutes_errados_visita, defesas_casa, defesas_visita, escanteios_casa, escanteios_visita, faltas_sofridas_casa, faltas_sofridas_visita, faltas_cometidas_casa, faltas_cometidas_visita, impedimentos_casa, impedimentos_visita, "Vencedor") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-12-15 12:47:49,370 INFO sqlalchemy.engine.Engine [generated in 0.00339s] [('ManUtd', '1:0', 'Fulham', 1, 0, 14, 10.0, 7, 4.0, 2, 4.0, 7, 8.0, 10, 11.0, 12, 10.0, 3, 1.0, 'ManUtd'), ('Ipswich', '0:2', 'Liverpool', 0, 2, 7, 18.0, 2, 6.0, 3, 2.0, 2, 10.0, 17, 8.0, 9, 18.0, 5, 0.0, 'Liverpool'), ('Arsenal', '2:0', 'Wolves', 2, 0, 18, 9.0, 6, 5.0, 3, 4.0, 8, 2.0, 14, 17.0, 17, 14.0, 0, 1.0, 'Arsenal'), ('Everton', '0:3', 'Brighton', 0, 3, 9, 10.0, 4, 3.0, 2, 1.0, 1, 5.0, 8, 8.0, 8, 8.0, 7, 1.0, 'Brighton'), ('Newcastle', '1:0', 'Southampton', 1, 0, 3, 19.0, 0, 4.0, 3, 0.0, 3, 12.0, 16, 15.0, 15, 16.0, 1, 2.0, 'Newcastle'), ("Nott'mForest", '1:1', 'Bournemouth', 1, 1, 14, 13.0, 3, 6.0, 3, 7.0, 2, 6.0, 8, 17.0, 17, 8.0, 1, 4.0, 'Empate'), ('WestHam', '1:2', 'AstonVilla', 1, 2, 14, 15.0, 7, 6.0, 1, 3.0, 5, 3.0, 11, 18.0, 18, 11.0, 1, 1.0, 'AstonVilla'), ('Brentford', '2:1', 'CrystalPalace', 2, 1, 9, 14.0, 3, 4.0, 6, 3.0, 4, 7.0, 15, 6.0, 6, 15.0, 1, 3.0, 'Brentford')  ... displaying 10 of 380 total bound parameter sets ...  ('Tottenham', '1:4', 'Brighton', 1, 4, 4, 23.0, 1, 7.0, 4, 1.0, 2, 11.0, 8, 13.0, 13, 8.0, 1, 2.0, 'Brighton'), ('Wolves', '1:1', 'Brentford', 1, 1, 18, 13.0, 8, 5.0, 6, 5.0, 8, 3.0, 9, 7.0, 7, 9.0, 3, 1.0, 'Empate')]
2025-12-15 12:47:49,373 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 12:47:49,374 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,375 INFO sqlalchemy.engine.Engine COMMIT

            Times
0         Arsenal
1      AstonVilla
2     Bournemouth
3       Brentford
4        Brighton
5         Chelsea
6   CrystalPalace
7         Everton
8          Fulham
9         Ipswich
10      Leicester
11      Liverpool
12        ManCity
13         ManUtd
14      Newcastle
15   Nott'mForest
16    Southampton
17      Tottenham
18        WestHam
19         Wolves

In [3]:
#Criar tabelas unicas para cada time para que possam ser tratados de forma individual

for i in dfteams['Times'].unique():
    jogos_casa = dados[dados['Time_Casa'] == i]
    jogos_fora = dados[dados['Time_Visita'] == i]
    tabela_time = pd.concat([jogos_casa, jogos_fora])
    tabela_time.reset_index(drop=True, inplace=True)
    tabela_time.to_sql(i, con  = engine, if_exists='replace', index=False)

#Criar tabelas unicas por Rodada 1 - Atual

for j, inicio in enumerate(range(0, len(dados), 10), start=1):
    
    rodadas = dados.iloc[inicio:inicio+10]
    nome_rodada = f"Rodada {j}" 
    rodadas.to_sql(nome_rodada, con  = engine, if_exists='replace', index=False)


dfteams["Posio"] = range(1, 21)
dfteams["Times"] = dados['Time_Casa'].unique()
dfteams["Partidas_Jogadas"] = 0
dfteams["Partidas_Vencidas"] = 0
dfteams["Empates"] = 0
dfteams["Partidas_Perdidas"] = 0
dfteams["Gols_Marcados"] = 0
dfteams["Gols_Sofridos"] = 0
dfteams["Saldo_de_Gols"] = dfteams["Gols_Marcados"] - dfteams["Gols_Sofridos"]
dfteams["Impedimentos"] = 0
dfteams["Faltas_Cometidas"] = 0
dfteams["Faltas_Sofridas"] = 0
dfteams["Pontos"] = 0
dfteams = dfteams.sort_values(by= ["Pontos", "Saldo_de_Gols", "Gols_Marcados","Gols_Sofridos","Impedimentos","Faltas_Sofridas","Faltas_Cometidas"], ascending= [False,False,False,True,True,False,True])
dfteams = dfteams.reset_index(drop=True)
dfteams = dfteams.set_index("Posio")

2025-12-15 12:47:49,400 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-15 12:47:49,406 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Arsenal")
2025-12-15 12:47:49,407 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,408 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Arsenal")
2025-12-15 12:47:49,409 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,410 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 12:47:49,410 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,411 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 12:47:49,412 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,413 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Arsenal")
2025-12-15 12:47:49,414 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,415 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 12:47:49,416 INFO sqlalchemy.engine.Engine [raw sql] ('Arsenal',)
2025-12-15 12:47:49,417 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Arsenal")
2025-12-15 12:47:49,417 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,418 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Arsenal")
2025-12-15 12:47:49,419 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,420 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 12:47:49,422 INFO sqlalchemy.engine.Engine [raw sql] ('Arsenal',)
2025-12-15 12:47:49,422 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Arsenal")
2025-12-15 12:47:49,423 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,425 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Arsenal")
2025-12-15 12:47:49,425 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,426 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Arsenal")
2025-12-15 12:47:49,427 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,428 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Arsenal")
2025-12-15 12:47:49,428 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,429 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Arsenal")
2025-12-15 12:47:49,430 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,431 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Arsenal")
2025-12-15 12:47:49,431 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,432 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 12:47:49,432 INFO sqlalchemy.engine.Engine [raw sql] ('Arsenal',)
2025-12-15 12:47:49,436 INFO sqlalchemy.engine.Engine
DROP TABLE "Arsenal"
2025-12-15 12:47:49,436 INFO sqlalchemy.engine.Engine [no key 0.00042s] ()
2025-12-15 12:47:49,441 INFO sqlalchemy.engine.Engine
CREATE TABLE "Arsenal" (
	"Time_Casa" TEXT,
	"Placar" TEXT,
	"Time_Visita" TEXT,
	"Gols_Casa" BIGINT,
	"Gols_Visita" BIGINT,
	"Chute_casa" BIGINT,
	"Chutes_visita" FLOAT,
	chute_errados_casa BIGINT,
	chutes_errados_visita FLOAT,
	defesas_casa BIGINT,
	defesas_visita FLOAT,
	escanteios_casa BIGINT,
	escanteios_visita FLOAT,
	faltas_sofridas_casa BIGINT,
	faltas_sofridas_visita FLOAT,
	faltas_cometidas_casa BIGINT,
	faltas_cometidas_visita FLOAT,
	impedimentos_casa BIGINT,
	impedimentos_visita FLOAT,
	"Vencedor" TEXT
)


2025-12-15 12:47:49,442 INFO sqlalchemy.engine.Engine [no key 0.00068s] ()
2025-12-15 12:47:49,448 INFO sqlalchemy.engine.Engine INSERT INTO "Arsenal" ("Time_Casa", "Placar", "Time_Visita", "Gols_Casa", "Gols_Visita", "Chute_casa", "Chutes_visita", chute_errados_casa, chutes_errados_visita, defesas_casa, defesas_visita, escanteios_casa, escanteios_visita, faltas_sofridas_casa, faltas_sofridas_visita, faltas_cometidas_casa, faltas_cometidas_visita, impedimentos_casa, impedimentos_visita, "Vencedor") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-12-15 12:47:49,449 INFO sqlalchemy.engine.Engine [generated in 0.00137s] [('Arsenal', '2:0', 'Wolves', 2, 0, 18, 9.0, 6, 5.0, 3, 4.0, 8, 2.0, 14, 17.0, 17, 14.0, 0, 1.0, 'Arsenal'), ('Arsenal', '1:1', 'Brighton', 1, 1, 11, 22.0, 2, 10.0, 3, 6.0, 3, 7.0, 7, 12.0, 12, 7.0, 3, 1.0, 'Empate'), ('Arsenal', '4:2', 'Leicester', 4, 2, 35, 5.0, 10, 1.0, 1, 13.0, 17, 0.0, 6, 11.0, 11, 6.0, 0, 1.0, 'Arsenal'), ('Arsenal', '3:1', 'Southampton', 3, 1, 29, 8.0, 13, 1.0, 1, 3.0, 13, 1.0, 9, 10.0, 10, 9.0, 1, 0.0, 'Arsenal'), ('Arsenal', '2:2', 'Liverpool', 2, 2, 9, 9.0, 4, 3.0, 2, 1.0, 1, 3.0, 14, 14.0, 14, 14.0, 2, 1.0, 'Empate'), ('Arsenal', '3:0', "Nott'mForest", 3, 0, 19, 7.0, 7, 5.0, 0, 3.0, 8, 1.0, 11, 10.0, 10, 11.0, 4, 2.0, 'Arsenal'), ('Arsenal', '2:0', 'ManUtd', 2, 0, 14, 5.0, 3, 3.0, 2, 4.0, 13, 0.0, 8, 12.0, 12, 8.0, 2, 2.0, 'Arsenal'), ('Arsenal', '0:0', 'Everton', 0, 0, 13, 2.0, 3, 0.0, 0, 5.0, 8, 2.0, 9, 5.0, 6, 9.0, 5, 3.0, 'Empate')  ... displaying 10 of 38 total bound parameter sets ...  ('Liverpool', '2:2', 'Arsenal', 2, 2, 14, 15.0, 8, 4.0, 4, 3.0, 3, 1.0, 10, 13.0, 13, 10.0, 3, 1.0, 'Empate'), ('Southampton', '1:2', 'Arsenal', 1, 2, 7, 23.0, 2, 5.0, 6, 1.0, 5, 8.0, 7, 7.0, 7, 8.0, 1, 1.0, 'Arsenal')]
2025-12-15 12:47:49,451 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 12:47:49,452 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,453 INFO sqlalchemy.engine.Engine COMMIT
2025-12-15 12:47:49,464 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-15 12:47:49,471 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("AstonVilla")
2025-12-15 12:47:49,472 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,475 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("AstonVilla")
2025-12-15 12:47:49,476 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,477 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 12:47:49,480 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,488 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 12:47:49,489 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,492 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("AstonVilla")
2025-12-15 12:47:49,494 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,496 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 12:47:49,497 INFO sqlalchemy.engine.Engine [raw sql] ('AstonVilla',)
2025-12-15 12:47:49,497 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("AstonVilla")
2025-12-15 12:47:49,498 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,499 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("AstonVilla")
2025-12-15 12:47:49,499 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,500 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 12:47:49,501 INFO sqlalchemy.engine.Engine [raw sql] ('AstonVilla',)
2025-12-15 12:47:49,502 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("AstonVilla")
2025-12-15 12:47:49,503 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,503 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("AstonVilla")
2025-12-15 12:47:49,506 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,507 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("AstonVilla")
2025-12-15 12:47:49,508 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,509 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("AstonVilla")
2025-12-15 12:47:49,509 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,510 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("AstonVilla")
2025-12-15 12:47:49,511 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,511 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("AstonVilla")
2025-12-15 12:47:49,512 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,513 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 12:47:49,514 INFO sqlalchemy.engine.Engine [raw sql] ('AstonVilla',)
2025-12-15 12:47:49,520 INFO sqlalchemy.engine.Engine
DROP TABLE "AstonVilla"
2025-12-15 12:47:49,528 INFO sqlalchemy.engine.Engine [no key 0.00790s] ()
2025-12-15 12:47:49,534 INFO sqlalchemy.engine.Engine
CREATE TABLE "AstonVilla" (
	"Time_Casa" TEXT,
	"Placar" TEXT,
	"Time_Visita" TEXT,
	"Gols_Casa" BIGINT,
	"Gols_Visita" BIGINT,
	"Chute_casa" BIGINT,
	"Chutes_visita" FLOAT,
	chute_errados_casa BIGINT,
	chutes_errados_visita FLOAT,
	defesas_casa BIGINT,
	defesas_visita FLOAT,
	escanteios_casa BIGINT,
	escanteios_visita FLOAT,
	faltas_sofridas_casa BIGINT,
	faltas_sofridas_visita FLOAT,
	faltas_cometidas_casa BIGINT,
	faltas_cometidas_visita FLOAT,
	impedimentos_casa BIGINT,
	impedimentos_visita FLOAT,
	"Vencedor" TEXT
)


2025-12-15 12:47:49,534 INFO sqlalchemy.engine.Engine [no key 0.00039s] ()
2025-12-15 12:47:49,543 INFO sqlalchemy.engine.Engine INSERT INTO "AstonVilla" ("Time_Casa", "Placar", "Time_Visita", "Gols_Casa", "Gols_Visita", "Chute_casa", "Chutes_visita", chute_errados_casa, chutes_errados_visita, defesas_casa, defesas_visita, escanteios_casa, escanteios_visita, faltas_sofridas_casa, faltas_sofridas_visita, faltas_cometidas_casa, faltas_cometidas_visita, impedimentos_casa, impedimentos_visita, "Vencedor") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-12-15 12:47:49,544 INFO sqlalchemy.engine.Engine [generated in 0.00179s] [('AstonVilla', '0:2', 'Arsenal', 0, 2, 11, 9.0, 3, 4.0, 2, 3.0, 4, 1.0, 15, 8.0, 8, 15.0, 3, 1.0, 'Arsenal'), ('AstonVilla', '3:2', 'Everton', 3, 2, 17, 6.0, 6, 3.0, 0, 4.0, 6, 2.0, 12, 9.0, 10, 12.0, 1, 3.0, 'AstonVilla'), ('AstonVilla', '3:1', 'Wolves', 3, 1, 9, 10.0, 2, 1.0, 3, 0.0, 6, 5.0, 15, 11.0, 11, 16.0, 1, 5.0, 'AstonVilla'), ('AstonVilla', '0:0', 'ManUtd', 0, 0, 11, 10.0, 7, 4.0, 4, 1.0, 6, 3.0, 11, 12.0, 12, 11.0, 0, 1.0, 'Empate'), ('AstonVilla', '1:1', 'Bournemouth', 1, 1, 18, 10.0, 5, 4.0, 2, 7.0, 9, 7.0, 13, 12.0, 12, 14.0, 0, 5.0, 'Empate'), ('AstonVilla', '2:2', 'CrystalPalace', 2, 2, 17, 13.0, 6, 6.0, 4, 3.0, 10, 1.0, 10, 9.0, 10, 11.0, 1, 2.0, 'Empate'), ('AstonVilla', '3:1', 'Brentford', 3, 1, 20, 9.0, 6, 4.0, 0, 7.0, 10, 5.0, 15, 11.0, 11, 15.0, 0, 1.0, 'AstonVilla'), ('AstonVilla', '1:0', 'Southampton', 1, 0, 18, 4.0, 5, 0.0, 0, 3.0, 14, 1.0, 15, 17.0, 18, 15.0, 0, 4.0, 'AstonVilla')  ... displaying 10 of 38 total bound parameter sets ...  ('Bournemouth', '0:1', 'AstonVilla', 0, 1, 10, 6.0, 3, 3.0, 2, 4.0, 10, 0.0, 12, 19.0, 19, 12.0, 2, 0.0, 'AstonVilla'), ('ManUtd', '2:0', 'AstonVilla', 2, 0, 26, 6.0, 14, 2.0, 1, 8.0, 4, 3.0, 10, 10.0, 10, 10.0, 5, 3.0, 'ManUtd')]
2025-12-15 12:47:49,550 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 12:47:49,551 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,551 INFO sqlalchemy.engine.Engine COMMIT
2025-12-15 12:47:49,558 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-15 12:47:49,561 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Bournemouth")
2025-12-15 12:47:49,561 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,562 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Bournemouth")
2025-12-15 12:47:49,563 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,564 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 12:47:49,564 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,565 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 12:47:49,566 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,567 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Bournemouth")
2025-12-15 12:47:49,567 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,568 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 12:47:49,569 INFO sqlalchemy.engine.Engine [raw sql] ('Bournemouth',)
2025-12-15 12:47:49,570 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Bournemouth")
2025-12-15 12:47:49,570 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,571 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Bournemouth")
2025-12-15 12:47:49,573 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,574 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 12:47:49,574 INFO sqlalchemy.engine.Engine [raw sql] ('Bournemouth',)
2025-12-15 12:47:49,576 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Bournemouth")
2025-12-15 12:47:49,576 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,577 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Bournemouth")
2025-12-15 12:47:49,577 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,578 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Bournemouth")
2025-12-15 12:47:49,579 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,579 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Bournemouth")
2025-12-15 12:47:49,580 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,581 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Bournemouth")
2025-12-15 12:47:49,582 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,582 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Bournemouth")
2025-12-15 12:47:49,583 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,584 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 12:47:49,584 INFO sqlalchemy.engine.Engine [raw sql] ('Bournemouth',)
2025-12-15 12:47:49,587 INFO sqlalchemy.engine.Engine
DROP TABLE "Bournemouth"
2025-12-15 12:47:49,588 INFO sqlalchemy.engine.Engine [no key 0.00101s] ()
2025-12-15 12:47:49,596 INFO sqlalchemy.engine.Engine
CREATE TABLE "Bournemouth" (
	"Time_Casa" TEXT,
	"Placar" TEXT,
	"Time_Visita" TEXT,
	"Gols_Casa" BIGINT,
	"Gols_Visita" BIGINT,
	"Chute_casa" BIGINT,
	"Chutes_visita" FLOAT,
	chute_errados_casa BIGINT,
	chutes_errados_visita FLOAT,
	defesas_casa BIGINT,
	defesas_visita FLOAT,
	escanteios_casa BIGINT,
	escanteios_visita FLOAT,
	faltas_sofridas_casa BIGINT,
	faltas_sofridas_visita FLOAT,
	faltas_cometidas_casa BIGINT,
	faltas_cometidas_visita FLOAT,
	impedimentos_casa BIGINT,
	impedimentos_visita FLOAT,
	"Vencedor" TEXT
)


2025-12-15 12:47:49,598 INFO sqlalchemy.engine.Engine [no key 0.00131s] ()
2025-12-15 12:47:49,606 INFO sqlalchemy.engine.Engine INSERT INTO "Bournemouth" ("Time_Casa", "Placar", "Time_Visita", "Gols_Casa", "Gols_Visita", "Chute_casa", "Chutes_visita", chute_errados_casa, chutes_errados_visita, defesas_casa, defesas_visita, escanteios_casa, escanteios_visita, faltas_sofridas_casa, faltas_sofridas_visita, faltas_cometidas_casa, faltas_cometidas_visita, impedimentos_casa, impedimentos_visita, "Vencedor") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-12-15 12:47:49,606 INFO sqlalchemy.engine.Engine [generated in 0.00103s] [('Bournemouth', '1:1', 'Newcastle', 1, 1, 16, 14.0, 7, 4.0, 4, 3.0, 8, 9.0, 8, 18.0, 19, 8.0, 0, 0.0, 'Empate'), ('Bournemouth', '0:1', 'Chelsea', 0, 1, 19, 10.0, 8, 3.0, 2, 7.0, 6, 3.0, 9, 16.0, 16, 9.0, 4, 3.0, 'Chelsea'), ('Bournemouth', '3:1', 'Southampton', 3, 1, 14, 9.0, 2, 3.0, 2, 3.0, 6, 4.0, 11, 19.0, 19, 12.0, 1, 1.0, 'Bournemouth'), ('Bournemouth', '2:0', 'Arsenal', 2, 0, 13, 6.0, 4, 4.0, 1, 2.0, 7, 4.0, 11, 12.0, 12, 11.0, 1, 1.0, 'Bournemouth'), ('Bournemouth', '2:1', 'ManCity', 2, 1, 12, 18.0, 4, 10.0, 3, 4.0, 3, 10.0, 5, 11.0, 11, 6.0, 2, 0.0, 'Bournemouth'), ('Bournemouth', '1:2', 'Brighton', 1, 2, 19, 6.0, 11, 1.0, 2, 4.0, 7, 0.0, 10, 12.0, 13, 10.0, 5, 1.0, 'Brighton'), ('Bournemouth', '1:0', 'Tottenham', 1, 0, 21, 12.0, 8, 5.0, 4, 7.0, 5, 9.0, 8, 15.0, 15, 8.0, 3, 3.0, 'Bournemouth'), ('Bournemouth', '1:1', 'WestHam', 1, 1, 29, 16.0, 6, 6.0, 2, 8.0, 12, 6.0, 11, 5.0, 6, 11.0, 1, 1.0, 'Empate')  ... displaying 10 of 38 total bound parameter sets ...  ('Arsenal', '1:2', 'Bournemouth', 1, 2, 13, 9.0, 5, 5.0, 0, 3.0, 2, 3.0, 16, 7.0, 7, 16.0, 3, 0.0, 'Bournemouth'), ('ManCity', '3:1', 'Bournemouth', 3, 1, 12, 8.0, 5, 4.0, 1, 2.0, 3, 1.0, 12, 7.0, 7, 13.0, 2, 3.0, 'ManCity')]
2025-12-15 12:47:49,607 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 12:47:49,608 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,609 INFO sqlalchemy.engine.Engine COMMIT
2025-12-15 12:47:49,614 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-15 12:47:49,617 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Brentford")
2025-12-15 12:47:49,617 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,619 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Brentford")
2025-12-15 12:47:49,620 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,622 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 12:47:49,622 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,623 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 12:47:49,624 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,625 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Brentford")
2025-12-15 12:47:49,625 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,626 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 12:47:49,627 INFO sqlalchemy.engine.Engine [raw sql] ('Brentford',)
2025-12-15 12:47:49,628 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Brentford")
2025-12-15 12:47:49,628 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,629 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Brentford")
2025-12-15 12:47:49,630 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,630 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 12:47:49,631 INFO sqlalchemy.engine.Engine [raw sql] ('Brentford',)
2025-12-15 12:47:49,632 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Brentford")
2025-12-15 12:47:49,633 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 12:47:49,633 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Brentford")
2025-12-15 12:47:49,634 INFO sqlalchemy.engine.Engine [raw sql] ()

In [4]:
display(dfteams)

,Times,Partidas_Jogadas,Partidas_Vencidas,Empates,Partidas_Perdidas,Gols_Marcados,Gols_Sofridos,Saldo_de_Gols,Impedimentos,Faltas_Cometidas,Faltas_Sofridas,Pontos
Posio,,,,,,,,,,,,
1,ManUtd,0,0,0,0,0,0,0,0,0,0,0
2,Ipswich,0,0,0,0,0,0,0,0,0,0,0
3,Arsenal,0,0,0,0,0,0,0,0,0,0,0
4,Everton,0,0,0,0,0,0,0,0,0,0,0
5,Newcastle,0,0,0,0,0,0,0,0,0,0,0
6,Nott'mForest,0,0,0,0,0,0,0,0,0,0,0
7,WestHam,0,0,0,0,0,0,0,0,0,0,0
8,Brentford,0,0,0,0,0,0,0,0,0,0,0
9,Chelsea,0,0,0,0,0,0,0,0,0,0,0
10,Leicester,0,0,0,0,0,0,0,0,0,0,0
11,Brighton,0,0,0,0,0,0,0,0,0,0,0
12,CrystalPalace,0,0,0,0,0,0,0,0,0,0,0
13,Fulham,0,0,0,0,0,0,0,0,0,0,0
14,ManCity,0,0,0,0,0,0,0,0,0,0,0
15,Southampton,0,0,0,0,0,0,0,0,0,0,0
16,Tottenham,0,0,0,0,0,0,0,0,0,0,0
17,AstonVilla,0,0,0,0,0,0,0,0,0,0,0
18,Bournemouth,0,0,0,0,0,0,0,0,0,0,0
19,Wolves,0,0,0,0,0,0,0,0,0,0,0
20,Liverpool,0,0,0,0,0,0,0,0,0,0,0

In [10]:
for x in range(1, 39):
    time = pd.read_sql(f"SELECT * FROM 'Rodada {x}'", con = engine)

    for _, row in time.iterrows():
        time_casa = row["Time_Casa"]
        time_visita = row["Time_Visita"]
        gols_casa = row["Gols_Casa"]
        gols_visita = row["Gols_Visita"]
        impedimentos_casa = row["impedimentos_casa"]
        impedimentos_visita = row["impedimentos_visita"]
        faltas_sofridas =row["faltas_cometidas_visita"]
        faltas_cometidas = row["faltas_sofridas_casa"]
        vencedor = row["Vencedor"]
        #loop do vencedor
        if vencedor == time_casa:  # Time da casa venceu
            dfteams.loc[dfteams["Times"] == time_casa, "Pontos"] += 3
        elif vencedor == time_visita:  # Time visitante venceu
            dfteams.loc[dfteams["Times"] == time_visita, "Pontos"] += 3
        elif vencedor == "Empate":  # Empate
            dfteams.loc[dfteams["Times"] == time_casa, "Pontos"] += 1
            dfteams.loc[dfteams["Times"] == time_visita, "Pontos"] += 1
        #loop dos gols marcados e sofridos
        if time_casa in dfteams["Times"].values:
            dfteams.loc[dfteams["Times"] == time_casa, "Gols_Marcados"] += gols_casa
            dfteams.loc[dfteams["Times"] == time_casa, "Gols_Sofridos"] += gols_visita
            dfteams.loc[dfteams["Times"] == time_visita, "Gols_Sofridos"] += gols_casa
            dfteams.loc[dfteams["Times"] == time_visita, "Gols_Marcados"] += gols_visita
            dfteams["Saldo_de_Gols"] = dfteams["Gols_Marcados"] - dfteams["Gols_Sofridos"]
        #loop de impedimentos
        if time_casa in dfteams["Times"].values:
            dfteams.loc[dfteams["Times"] == time_casa, "Impedimentos"] += impedimentos_casa
            dfteams.loc[dfteams["Times"] == time_visita, "Impedimentos"] += impedimentos_visita
        #loop de faltas
        if time_casa in dfteams["Times"].values:
            dfteams.loc[dfteams["Times"] == time_casa, "Faltas_Cometidas"] += faltas_cometidas
            dfteams.loc[dfteams["Times"] == time_visita, "Faltas_Sofridas"] += faltas_sofridas
        #loop de partidas jogadas
        if time_casa in dfteams["Times"].values:
            dfteams.loc[dfteams["Times"] == time_casa, "Partidas_Jogadas"] += 1
            dfteams.loc[dfteams["Times"] == time_visita, "Partidas_Jogadas"] += 1
        #loop de partidas perdidas, vencidas ou empates
        if time_casa in dfteams["Times"].values:
            dfteams.loc[dfteams["Times"] == vencedor, "Partidas_Vencidas"] += 1
        if row["Vencedor"] == "Empate":
            time_casa = row["Time_Casa"]
            time_visita = row["Time_Visita"]

            # Incrementar partidas empatadas para time_casa
            if time_casa in dfteams["Times"].values:
                dfteams.loc[dfteams["Times"] == time_casa, "Empates"] += 1

        # Incrementar partidas empatadas para time_visitante
            if time_visita in dfteams["Times"].values:
                dfteams.loc[dfteams["Times"] == time_visita, "Empates"] += 1
        if row["Vencedor"] == time_casa:
            dfteams.loc[dfteams["Times"] == time_visita, "Partidas_Perdidas"] += 1
        if row["Vencedor"] == time_visita:
            dfteams.loc[dfteams["Times"] == time_casa, "Partidas_Perdidas"] += 1
        
        
        
        rodada_class = f"Classificao {x}"
        dfteams = dfteams.sort_values(by= ["Pontos", "Saldo_de_Gols", "Gols_Marcados","Gols_Sofridos","Impedimentos","Faltas_Sofridas","Faltas_Cometidas"], ascending= [False,False,False,True,True,False,True])
        dfteams = dfteams.reset_index(drop=True)
       
        dfteams.to_sql(rodada_class, con  = engine, if_exists='replace', index=False)
    
    #rodada_atual = rodada_class.replace('Classificao', '').replace(' ','')
    #rodada_atual = int(rodada_atual)
    #dfteams = dfteams.sort_values(by= ["Pontos", "Saldo_de_Gols", "Gols_Marcados","Gols_Sofridos","Impedimentos","Faltas_Sofridas","Faltas_Cometidas"], ascending= [False,False,False,True,True,False,True])
    #dfteams = dfteams.reset_index(drop=True)
       
    #dfteams.to_sql(rodada_atual, con  = engine, if_exists='replace', index=False)

2025-12-15 13:11:40,712 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-15 13:11:40,713 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM 'Rodada 1'")
2025-12-15 13:11:40,715 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,715 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM 'Rodada 1'")
2025-12-15 13:11:40,716 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,717 INFO sqlalchemy.engine.Engine SELECT * FROM 'Rodada 1'
2025-12-15 13:11:40,719 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,722 INFO sqlalchemy.engine.Engine ROLLBACK
2025-12-15 13:11:40,742 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-15 13:11:40,747 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,748 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,749 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,749 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,750 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 13:11:40,751 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,752 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 13:11:40,752 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,753 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Classificao 1")
2025-12-15 13:11:40,754 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,755 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 13:11:40,756 INFO sqlalchemy.engine.Engine [raw sql] ('Classificao 1',)
2025-12-15 13:11:40,757 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Classificao 1")
2025-12-15 13:11:40,757 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,758 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Classificao 1")
2025-12-15 13:11:40,758 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,759 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 13:11:40,760 INFO sqlalchemy.engine.Engine [raw sql] ('Classificao 1',)
2025-12-15 13:11:40,761 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Classificao 1")
2025-12-15 13:11:40,761 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,762 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Classificao 1")
2025-12-15 13:11:40,763 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,763 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,764 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,765 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Classificao 1")
2025-12-15 13:11:40,766 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,767 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Classificao 1")
2025-12-15 13:11:40,767 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,768 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,769 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,769 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 13:11:40,770 INFO sqlalchemy.engine.Engine [raw sql] ('Classificao 1',)
2025-12-15 13:11:40,772 INFO sqlalchemy.engine.Engine
DROP TABLE "Classificao 1"
2025-12-15 13:11:40,773 INFO sqlalchemy.engine.Engine [no key 0.00039s] ()
2025-12-15 13:11:40,778 INFO sqlalchemy.engine.Engine
CREATE TABLE "Classificao 1" (
	"Times" TEXT,
	"Partidas_Jogadas" BIGINT,
	"Partidas_Vencidas" BIGINT,
	"Empates" BIGINT,
	"Partidas_Perdidas" BIGINT,
	"Gols_Marcados" BIGINT,
	"Gols_Sofridos" BIGINT,
	"Saldo_de_Gols" BIGINT,
	"Impedimentos" FLOAT,
	"Faltas_Cometidas" BIGINT,
	"Faltas_Sofridas" FLOAT,
	"Pontos" BIGINT
)


2025-12-15 13:11:40,779 INFO sqlalchemy.engine.Engine [no key 0.00066s] ()
2025-12-15 13:11:40,783 INFO sqlalchemy.engine.Engine INSERT INTO "Classificao 1" ("Times", "Partidas_Jogadas", "Partidas_Vencidas", "Empates", "Partidas_Perdidas", "Gols_Marcados", "Gols_Sofridos", "Saldo_de_Gols", "Impedimentos", "Faltas_Cometidas", "Faltas_Sofridas", "Pontos") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-12-15 13:11:40,783 INFO sqlalchemy.engine.Engine [generated in 0.00058s] [('Liverpool', 39, 26, 9, 4, 88, 41, 47, None, 188, None, 87), ('Arsenal', 39, 21, 14, 4, 71, 34, 37, 80.0, 212, 214.0, 77), ('ManCity', 39, 22, 8, 9, 74, 44, 30, 47.0, 198, 151.0, 74), ('Newcastle', 39, 21, 6, 12, 69, 47, 22, 70.0, 251, 179.0, 69), ('Chelsea', 39, 20, 9, 10, 64, 45, 19, 67.0, 219, 221.0, 69), ('AstonVilla', 39, 20, 9, 10, 60, 52, 8, 56.0, 239, 222.0, 69), ("Nott'mForest", 39, 19, 9, 11, 59, 47, 12, None, 231, None, 66), ('Brighton', 39, 17, 13, 9, 69, 59, 10, 49.0, 214, 225.0, 64)  ... displaying 10 of 20 total bound parameter sets ...  ('Ipswich', 39, 4, 10, 25, 36, 84, -48, None, 229, None, 22), ('Southampton', 39, 2, 6, 31, 26, 87, -61, 51.0, 194, 262.0, 12)]
2025-12-15 13:11:40,784 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 13:11:40,785 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,786 INFO sqlalchemy.engine.Engine COMMIT
2025-12-15 13:11:40,800 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-15 13:11:40,803 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,803 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,804 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,804 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,805 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 13:11:40,806 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,807 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 13:11:40,807 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,808 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Classificao 1")
2025-12-15 13:11:40,809 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,810 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 13:11:40,810 INFO sqlalchemy.engine.Engine [raw sql] ('Classificao 1',)
2025-12-15 13:11:40,811 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Classificao 1")
2025-12-15 13:11:40,811 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,812 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Classificao 1")
2025-12-15 13:11:40,813 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,815 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 13:11:40,816 INFO sqlalchemy.engine.Engine [raw sql] ('Classificao 1',)
2025-12-15 13:11:40,817 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Classificao 1")
2025-12-15 13:11:40,818 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,819 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Classificao 1")
2025-12-15 13:11:40,820 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,820 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,821 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,821 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Classificao 1")
2025-12-15 13:11:40,822 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,823 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Classificao 1")
2025-12-15 13:11:40,824 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,825 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,825 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,826 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 13:11:40,827 INFO sqlalchemy.engine.Engine [raw sql] ('Classificao 1',)
2025-12-15 13:11:40,829 INFO sqlalchemy.engine.Engine
DROP TABLE "Classificao 1"
2025-12-15 13:11:40,829 INFO sqlalchemy.engine.Engine [no key 0.00039s] ()
2025-12-15 13:11:40,835 INFO sqlalchemy.engine.Engine
CREATE TABLE "Classificao 1" (
	"Times" TEXT,
	"Partidas_Jogadas" BIGINT,
	"Partidas_Vencidas" BIGINT,
	"Empates" BIGINT,
	"Partidas_Perdidas" BIGINT,
	"Gols_Marcados" BIGINT,
	"Gols_Sofridos" BIGINT,
	"Saldo_de_Gols" BIGINT,
	"Impedimentos" FLOAT,
	"Faltas_Cometidas" BIGINT,
	"Faltas_Sofridas" FLOAT,
	"Pontos" BIGINT
)


2025-12-15 13:11:40,836 INFO sqlalchemy.engine.Engine [no key 0.00055s] ()
2025-12-15 13:11:40,841 INFO sqlalchemy.engine.Engine INSERT INTO "Classificao 1" ("Times", "Partidas_Jogadas", "Partidas_Vencidas", "Empates", "Partidas_Perdidas", "Gols_Marcados", "Gols_Sofridos", "Saldo_de_Gols", "Impedimentos", "Faltas_Cometidas", "Faltas_Sofridas", "Pontos") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-12-15 13:11:40,841 INFO sqlalchemy.engine.Engine [generated in 0.00057s] [('Liverpool', 40, 27, 9, 4, 90, 41, 49, None, 188, None, 90), ('Arsenal', 39, 21, 14, 4, 71, 34, 37, 80.0, 212, 214.0, 77), ('ManCity', 39, 22, 8, 9, 74, 44, 30, 47.0, 198, 151.0, 74), ('Newcastle', 39, 21, 6, 12, 69, 47, 22, 70.0, 251, 179.0, 69), ('Chelsea', 39, 20, 9, 10, 64, 45, 19, 67.0, 219, 221.0, 69), ('AstonVilla', 39, 20, 9, 10, 60, 52, 8, 56.0, 239, 222.0, 69), ("Nott'mForest", 39, 19, 9, 11, 59, 47, 12, None, 231, None, 66), ('Brighton', 39, 17, 13, 9, 69, 59, 10, 49.0, 214, 225.0, 64)  ... displaying 10 of 20 total bound parameter sets ...  ('Ipswich', 40, 4, 10, 26, 36, 86, -50, None, 246, None, 22), ('Southampton', 39, 2, 6, 31, 26, 87, -61, 51.0, 194, 262.0, 12)]
2025-12-15 13:11:40,842 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 13:11:40,843 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,844 INFO sqlalchemy.engine.Engine COMMIT
2025-12-15 13:11:40,859 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-15 13:11:40,861 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,861 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,862 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,863 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,864 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 13:11:40,864 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,865 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 13:11:40,865 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,866 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Classificao 1")
2025-12-15 13:11:40,867 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,868 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 13:11:40,868 INFO sqlalchemy.engine.Engine [raw sql] ('Classificao 1',)
2025-12-15 13:11:40,869 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Classificao 1")
2025-12-15 13:11:40,870 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,871 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Classificao 1")
2025-12-15 13:11:40,872 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,873 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 13:11:40,874 INFO sqlalchemy.engine.Engine [raw sql] ('Classificao 1',)
2025-12-15 13:11:40,874 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Classificao 1")
2025-12-15 13:11:40,875 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,876 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Classificao 1")
2025-12-15 13:11:40,876 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,877 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,877 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,879 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Classificao 1")
2025-12-15 13:11:40,879 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,880 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Classificao 1")
2025-12-15 13:11:40,880 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,881 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,882 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,882 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 13:11:40,884 INFO sqlalchemy.engine.Engine [raw sql] ('Classificao 1',)
2025-12-15 13:11:40,885 INFO sqlalchemy.engine.Engine
DROP TABLE "Classificao 1"
2025-12-15 13:11:40,886 INFO sqlalchemy.engine.Engine [no key 0.00105s] ()
2025-12-15 13:11:40,891 INFO sqlalchemy.engine.Engine
CREATE TABLE "Classificao 1" (
	"Times" TEXT,
	"Partidas_Jogadas" BIGINT,
	"Partidas_Vencidas" BIGINT,
	"Empates" BIGINT,
	"Partidas_Perdidas" BIGINT,
	"Gols_Marcados" BIGINT,
	"Gols_Sofridos" BIGINT,
	"Saldo_de_Gols" BIGINT,
	"Impedimentos" FLOAT,
	"Faltas_Cometidas" BIGINT,
	"Faltas_Sofridas" FLOAT,
	"Pontos" BIGINT
)


2025-12-15 13:11:40,891 INFO sqlalchemy.engine.Engine [no key 0.00054s] ()
2025-12-15 13:11:40,898 INFO sqlalchemy.engine.Engine INSERT INTO "Classificao 1" ("Times", "Partidas_Jogadas", "Partidas_Vencidas", "Empates", "Partidas_Perdidas", "Gols_Marcados", "Gols_Sofridos", "Saldo_de_Gols", "Impedimentos", "Faltas_Cometidas", "Faltas_Sofridas", "Pontos") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-12-15 13:11:40,899 INFO sqlalchemy.engine.Engine [generated in 0.00102s] [('Liverpool', 40, 27, 9, 4, 90, 41, 49, None, 188, None, 90), ('Arsenal', 40, 22, 14, 4, 73, 34, 39, 80.0, 226, 214.0, 80), ('ManCity', 39, 22, 8, 9, 74, 44, 30, 47.0, 198, 151.0, 74), ('Newcastle', 39, 21, 6, 12, 69, 47, 22, 70.0, 251, 179.0, 69), ('Chelsea', 39, 20, 9, 10, 64, 45, 19, 67.0, 219, 221.0, 69), ('AstonVilla', 39, 20, 9, 10, 60, 52, 8, 56.0, 239, 222.0, 69), ("Nott'mForest", 39, 19, 9, 11, 59, 47, 12, None, 231, None, 66), ('Brighton', 39, 17, 13, 9, 69, 59, 10, 49.0, 214, 225.0, 64)  ... displaying 10 of 20 total bound parameter sets ...  ('Ipswich', 40, 4, 10, 26, 36, 86, -50, None, 246, None, 22), ('Southampton', 39, 2, 6, 31, 26, 87, -61, 51.0, 194, 262.0, 12)]
2025-12-15 13:11:40,900 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 13:11:40,901 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,902 INFO sqlalchemy.engine.Engine COMMIT
2025-12-15 13:11:40,924 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-15 13:11:40,926 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,927 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,928 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,928 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,929 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 13:11:40,930 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,930 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-12-15 13:11:40,931 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,932 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Classificao 1")
2025-12-15 13:11:40,936 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,941 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 13:11:40,946 INFO sqlalchemy.engine.Engine [raw sql] ('Classificao 1',)
2025-12-15 13:11:40,947 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Classificao 1")
2025-12-15 13:11:40,948 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,950 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Classificao 1")
2025-12-15 13:11:40,951 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,952 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 13:11:40,954 INFO sqlalchemy.engine.Engine [raw sql] ('Classificao 1',)
2025-12-15 13:11:40,956 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Classificao 1")
2025-12-15 13:11:40,956 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,957 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Classificao 1")
2025-12-15 13:11:40,960 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,961 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,962 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,963 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Classificao 1")
2025-12-15 13:11:40,963 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,964 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Classificao 1")
2025-12-15 13:11:40,964 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,965 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Classificao 1")
2025-12-15 13:11:40,966 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-15 13:11:40,967 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-15 13:11:40,967 INFO sqlalchemy.engine.Engine [raw sql] ('Classificao 1',)
2025-12-15 13:11:40,969 INFO sqlalchemy.engine.Engine
DROP TABLE "Classificao 1"
2025-12-15 13:11:40,970 INFO sqlalchemy.engine.Engine [no key 0.00110s] ()
2025-12-15 13:11:40,976 INFO sqlalchemy.engine.Engine
CREATE TABLE "Classificao 1" (
	"Times" TEXT,
	"Partidas_Jogadas" BIGINT,
	"Partidas_Vencidas" BIGINT,
	"Empates" BIGINT,
	"Partidas_Perdidas" BIGINT,
	"Gols_Marcados" BIGINT,
	"Gols_Sofridos" BIGINT,
	"Saldo_de_Gols" BIGINT,
	"Impedimentos" FLOAT,
	"Faltas_Cometidas" BIGINT,
	"Faltas_Sofridas" FLOAT,
	"Pontos" BIGINT
)


2025-12-15 13:11:40,976 INFO sqlalchemy.engine.Engine [no key 0.00077s] ()