In [1]:
import pandas as pd
import sqlite3
from sqlite3 import Cursor
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator
import plotly.graph_objs as go

In [2]:
engine = create_engine('sqlite:////Users/estudo/Documents/Projeto/0_Bases_Tratadas/premier.db', echo =True)
connection = engine.connect()

In [ ]:
rodadas = []
saldo_gols = []
gols_feitos = []
gols_sofridos = []
for i in range(1,39):
    tabela_posicao = pd.read_sql(f'SELECT * FROM "Classificação {i}"', con = engine)
    rodadas.append(tabela_posicao) 
    saldo_gol = tabela_posicao.loc[tabela_posicao["Times"] == 'Arsenal', "Saldo_de_Gols"]
    gol_marcado = tabela_posicao.loc[tabela_posicao["time_casa"] == 'Arsenal', "Gols_Marcados"]
    gol_sofrido = tabela_posicao.loc[tabela_posicao["Time_Casa"] == 'Arsenal', "Gols_Sofridos"]
    saldo_gols.append(saldo_gol)
    gols_feitos.append(gol_marcado)
    gols_sofridos.append(gol_sofrido)

gols_feitosdf = pd.DataFrame(gols_feitos)
gols_sofridosdf = pd.DataFrame(gols_sofridos)
saldo_golsdf = pd.DataFrame(saldo_gols)

saldo_golsdf['Saldo_de_Gols'] = saldo_golsdf.apply(lambda row: row.dropna().values[0] if len(row.dropna()) > 0 else None, axis=1)
gols_feitosdf['Gols_Marcados'] = gols_feitosdf.apply(lambda row: row.dropna().values[0] if len(row.dropna()) > 0 else None, axis=1)
gols_sofridosdf['Gols_Sofridos'] = gols_sofridosdf.apply(lambda row: row.dropna().values[0] if len(row.dropna()) > 0 else None, axis=1)

saldo_golsdf = saldo_golsdf[["Saldo_de_Gols"]]
saldo_golsdf = saldo_golsdf.reset_index(drop = True)
saldo_golsdf.index = saldo_golsdf.index + 1

gols_feitosdf = gols_feitosdf[["Gols_Marcados"]]
gols_feitosdf = gols_feitosdf.reset_index(drop = True)
gols_feitosdf.index = gols_feitosdf.index + 1

gols_sofridosdf = gols_sofridosdf[["Gols_Sofridos"]]
gols_sofridosdf = gols_sofridosdf.reset_index(drop = True)
gols_sofridosdf.index = gols_sofridosdf.index + 1

consolidado = pd.concat([gols_feitosdf,gols_sofridosdf,saldo_golsdf], axis= 1 )

fig = px.line(consolidado, x = consolidado.index, y = ['Gols_Marcados', 'Gols_Sofridos', 'Saldo_de_Gols'])

2025-01-26 13:08:20,789 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,790 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 1""")
2025-01-26 13:08:20,791 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,793 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 1""")
2025-01-26 13:08:20,794 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,795 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 1"
2025-01-26 13:08:20,796 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,798 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,801 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,801 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 2""")
2025-01-26 13:08:20,802 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,802 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 2""")
2025-01-26 13:08:20,803 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,803 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 2"
2025-01-26 13:08:20,804 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,805 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,806 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,807 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 3""")
2025-01-26 13:08:20,807 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,808 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 3""")
2025-01-26 13:08:20,810 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,811 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 3"
2025-01-26 13:08:20,812 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,813 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,815 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,815 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 4""")
2025-01-26 13:08:20,815 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,816 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 4""")
2025-01-26 13:08:20,816 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,816 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 4"
2025-01-26 13:08:20,817 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,818 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,819 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,820 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 5""")
2025-01-26 13:08:20,820 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,821 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 5""")
2025-01-26 13:08:20,821 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,821 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 5"
2025-01-26 13:08:20,822 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,823 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,824 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,825 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 6""")
2025-01-26 13:08:20,825 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,825 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 6""")
2025-01-26 13:08:20,826 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,827 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 6"
2025-01-26 13:08:20,828 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,830 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,831 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,832 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 7""")
2025-01-26 13:08:20,832 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,832 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 7""")
2025-01-26 13:08:20,833 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,833 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 7"
2025-01-26 13:08:20,833 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,834 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,836 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,836 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 8""")
2025-01-26 13:08:20,836 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,837 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 8""")
2025-01-26 13:08:20,837 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,838 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 8"
2025-01-26 13:08:20,838 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,840 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,841 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,841 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 9""")
2025-01-26 13:08:20,842 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,842 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 9""")
2025-01-26 13:08:20,843 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,845 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 9"
2025-01-26 13:08:20,845 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,847 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,848 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,848 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 10""")
2025-01-26 13:08:20,852 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,852 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 10""")
2025-01-26 13:08:20,854 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,854 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 10"
2025-01-26 13:08:20,855 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,855 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,856 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,857 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 11""")
2025-01-26 13:08:20,857 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,857 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 11""")
2025-01-26 13:08:20,857 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,858 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 11"
2025-01-26 13:08:20,858 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,860 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,861 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,862 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 12""")
2025-01-26 13:08:20,862 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,862 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 12""")
2025-01-26 13:08:20,863 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,863 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 12"
2025-01-26 13:08:20,864 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,865 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,867 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,867 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 13""")
2025-01-26 13:08:20,868 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,868 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 13""")
2025-01-26 13:08:20,869 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,870 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 13"
2025-01-26 13:08:20,870 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,871 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,872 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,872 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 14""")
2025-01-26 13:08:20,872 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,873 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 14""")
2025-01-26 13:08:20,874 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,875 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 14"
2025-01-26 13:08:20,875 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,876 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,877 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,877 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 15""")
2025-01-26 13:08:20,877 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,878 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 15""")
2025-01-26 13:08:20,878 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,878 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 15"
2025-01-26 13:08:20,879 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,881 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,882 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,882 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 16""")
2025-01-26 13:08:20,883 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,883 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 16""")
2025-01-26 13:08:20,883 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,883 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 16"
2025-01-26 13:08:20,884 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,885 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,895 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,899 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 17""")
2025-01-26 13:08:20,900 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,900 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 17""")
2025-01-26 13:08:20,900 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,901 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 17"
2025-01-26 13:08:20,901 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,902 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,903 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,903 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 18""")
2025-01-26 13:08:20,903 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,903 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 18""")
2025-01-26 13:08:20,903 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,904 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 18"
2025-01-26 13:08:20,904 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,905 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,905 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,906 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 19""")
2025-01-26 13:08:20,906 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,906 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 19""")
2025-01-26 13:08:20,906 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,907 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 19"
2025-01-26 13:08:20,907 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,908 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,909 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,909 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 20""")
2025-01-26 13:08:20,910 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,910 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 20""")
2025-01-26 13:08:20,910 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,911 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 20"
2025-01-26 13:08:20,911 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,912 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,913 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,913 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 21""")
2025-01-26 13:08:20,913 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,913 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 21""")
2025-01-26 13:08:20,913 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,914 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 21"
2025-01-26 13:08:20,914 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,915 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,915 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,916 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 22""")
2025-01-26 13:08:20,916 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,916 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 22""")
2025-01-26 13:08:20,916 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,917 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 22"
2025-01-26 13:08:20,917 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,918 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,918 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,919 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 23""")
2025-01-26 13:08:20,919 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,919 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 23""")
2025-01-26 13:08:20,920 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,920 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 23"
2025-01-26 13:08:20,920 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,921 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,922 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,922 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 24""")
2025-01-26 13:08:20,922 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,923 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 24""")
2025-01-26 13:08:20,923 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,923 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 24"
2025-01-26 13:08:20,923 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,924 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,924 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,925 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 25""")
2025-01-26 13:08:20,925 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,925 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 25""")
2025-01-26 13:08:20,925 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,926 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 25"
2025-01-26 13:08:20,926 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,928 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,929 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,929 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 26""")
2025-01-26 13:08:20,929 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,930 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 26""")
2025-01-26 13:08:20,930 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,930 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 26"
2025-01-26 13:08:20,930 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,931 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,932 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,932 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 27""")
2025-01-26 13:08:20,932 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,933 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 27""")
2025-01-26 13:08:20,933 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,933 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 27"
2025-01-26 13:08:20,933 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,934 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,935 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,935 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 28""")
2025-01-26 13:08:20,935 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,935 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 28""")
2025-01-26 13:08:20,935 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,936 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 28"
2025-01-26 13:08:20,936 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,937 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,943 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,958 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 29""")
2025-01-26 13:08:20,968 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,969 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 29""")
2025-01-26 13:08:20,969 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,969 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 29"
2025-01-26 13:08:20,970 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,971 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,972 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,976 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 30""")
2025-01-26 13:08:20,978 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,980 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 30""")
2025-01-26 13:08:20,980 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,981 INFO sqlalchemy.engine.Engine SELECT * FROM "Classificação 30"
2025-01-26 13:08:20,981 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,982 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 13:08:20,983 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 13:08:20,983 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ""Classificação 31""")
2025-01-26 13:08:20,983 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-26 13:08:20,984 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ""Classificação 31""")
2025-01-26 13:08:20,984 INFO sqlalchemy.engine.Engine [raw sql] ()

In [3]:
time = pd.read_sql('SELECT * FROM Arsenal', con = engine)
time

2025-01-27 20:53:42,947 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-27 20:53:42,949 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM Arsenal")
2025-01-27 20:53:42,950 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-27 20:53:42,958 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM Arsenal")
2025-01-27 20:53:42,959 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-27 20:53:42,960 INFO sqlalchemy.engine.Engine SELECT * FROM Arsenal
2025-01-27 20:53:42,961 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-27 20:53:42,969 INFO sqlalchemy.engine.Engine ROLLBACK

,Time_Casa,Placar,Time_Visita,Gols_Casa,Gols_Visita,Chute_casa,Chutes_visita,chute_errados_casa,chutes_errados_visita,defesas_casa,defesas_visita,escanteios_casa,escanteios_visita,faltas_sofridas_casa,faltas_sofridas_visita,faltas_cometidas_casa,faltas_cometidas_visita,impedimentos_casa,impedimentos_visita,Vencedor
0,Arsenal,2:1,NottmForest,2,1,15,6,3,3,1,5,8,3,12,12,12,12,2,1,Arsenal
1,Arsenal,2:2,Fulham,2,2,19,8,5,3,1,8,8,3,5,5,6,5,4,1,Empate
2,Arsenal,3:1,ManUtd,3,1,17,10,4,1,1,2,12,3,7,8,8,7,2,1,Arsenal
3,Arsenal,2:2,Tottenham,2,2,13,13,4,4,3,4,11,4,18,11,12,19,2,3,Empate
4,Arsenal,1:0,ManCity,1,0,12,4,6,2,0,1,5,4,7,8,8,7,2,0,Arsenal
5,Arsenal,5:0,SheffUtd,5,0,13,2,2,1,0,2,6,1,13,9,9,13,1,1,Arsenal
6,Arsenal,3:1,FCBurnley,3,1,16,8,6,3,4,3,13,3,9,7,8,9,3,2,Arsenal
7,Arsenal,2:1,Wolves,2,1,19,6,8,3,2,4,4,0,8,9,10,10,3,0,Arsenal
8,Arsenal,2:0,Brighton,2,0,26,6,8,3,1,6,10,1,9,10,11,9,1,1,Arsenal
9,Arsenal,0:2,WestHam,0,2,30,6,12,1,1,8,10,3,8,7,8,8,0,1,WestHam
10,Arsenal,5:0,CrystalPalace,5,0,21,12,8,5,5,2,6,7,12,7,8,12,5,2,Arsenal
11,Arsenal,3:1,Liverpool,3,1,15,10,3,7,1,4,2,4,10,10,11,11,3,1,Arsenal
12,Arsenal,4:1,Newcastle,4,1,18,3,6,1,1,4,9,0,5,14,15,6,3,2,Arsenal
13,Arsenal,2:1,Brentford,2,1,17,9,6,2,3,4,10,4,10,9,9,10,1,2,Arsenal
14,Arsenal,5:0,Chelsea,5,0,27,7,7,4,1,6,4,2,10,12,12,11,3,0,Arsenal
15,Arsenal,2:0,Luton,2,0,13,5,1,3,1,4,3,1,8,11,12,8,1,1,Arsenal
16,Arsenal,0:2,AstonVilla,0,2,18,11,8,4,0,4,4,6,6,12,12,7,5,1,AstonVilla
17,Arsenal,3:0,Bournemouth,3,0,24,7,8,3,2,6,6,1,11,15,16,12,5,0,Arsenal
18,Arsenal,2:1,Everton,2,1,26,5,11,2,1,4,8,1,10,8,8,11,1,4,Arsenal
19,CrystalPalace,0:1,Arsenal,0,1,14,14,5,7,2,2,1,8,10,13,14,10,0,2,Arsenal
20,Everton,0:1,Arsenal,0,1,8,13,3,3,3,1,1,11,8,12,12,10,1,4,Arsenal
21,Bournemouth,0:4,Arsenal,0,4,19,11,4,3,2,4,1,3,20,19,19,21,0,6,Arsenal
22,Chelsea,2:2,Arsenal,2,2,11,13,4,5,1,3,2,7,13,7,7,14,2,1,Empate
23,Newcastle,1:0,Arsenal,1,0,9,14,3,4,1,0,0,11,9,14,14,9,2,1,Newcastle
24,Brentford,0:1,Arsenal,0,1,9,15,5,7,3,1,1,8,6,8,9,7,2,3,Arsenal
25,Luton,3:4,Arsenal,3,4,6,23,1,5,5,1,3,8,7,14,14,7,1,4,Arsenal
26,AstonVilla,1:0,Arsenal,1,0,10,12,2,4,3,2,3,3,10,16,16,11,1,4,AstonVilla
27,Liverpool,1:1,Arsenal,1,1,13,13,6,6,1,2,4,5,13,13,13,14,1,1,Empate
28,Fulham,2:1,Arsenal,2,1,15,13,5,7,2,2,5,4,8,11,11,10,4,0,Fulham
29,NottmForest,1:2,Arsenal,1,2,9,19,3,7,2,2,2,10,7,5,6,7,1,3,Arsenal
30,WestHam,0:6,Arsenal,0,6,5,25,0,9,6,1,2,6,11,17,17,11,2,2,Arsenal
31,FCBurnley,0:5,Arsenal,0,5,8,16,5,4,2,0,4,6,8,11,11,8,5,1,Arsenal
32,SheffUtd,0:6,Arsenal,0,6,4,22,3,5,4,0,0,7,4,11,11,4,2,5,Arsenal
33,ManCity,0:0,Arsenal,0,0,12,6,7,2,2,1,7,4,19,9,9,20,2,1,Empate
34,Brighton,0:3,Arsenal,0,3,10,20,6,8,4,2,8,7,12,13,14,13,2,2,Arsenal
35,Wolves,0:2,Arsenal,0,2,5,24,2,6,7,3,1,2,9,14,14,9,1,2,Arsenal
36,Tottenham,2:3,Arsenal,2,3,14,9,7,1,1,0,8,6,14,12,12,16,3,4,Arsenal
37,ManUtd,0:1,Arsenal,0,1,14,11,6,3,5,2,4,7,6,5,5,6,2,0,Arsenal

In [45]:
tabela_time_casa = time[time["Time_Casa"] == 'Arsenal']

In [15]:
def substituir_resultado(valor):
    if valor == 'Arsenal':
        return 'Vitória'
    elif valor == 'Empate':
        return 'Empate'
    else:
        return 'Derrota'

# Aplicando a função à coluna
time_casa['Vencedor'] = time_casa['Vencedor'].apply(substituir_resultado)

/var/folders/m4/q93x5mln4l109zsf2n5yq6vr0000gn/T/ipykernel_3224/4117443640.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  time_casa['Vencedor'] = time_casa['Vencedor'].apply(substituir_resultado)

In [37]:
vencedor = time_casa['Vencedor']
vencedor = pd.DataFrame(vencedor)

In [47]:
time_casa = tabela_time_casa[tabela_time_casa["Time_Casa"] == 'Arsenal']
vencedor_casa = time_casa['Vencedor']
vencedor_casa_df = pd.DataFrame(vencedor_casa)
pontos_vitoria_casa = (vencedor_casa_df['Vencedor'] == 'Vitória').sum() * 3
pontos_empate_casa = (vencedor_casa_df['Vencedor'] == 'Empate').sum()
pontos_totais_casa = pontos_vitoria_casa + pontos_empate_casa
aproveitamento_casa = round(pontos_totais_casa / 57 * 100, 2)

In [49]:
time_casa

,Time_Casa,Placar,Time_Visita,Gols_Casa,Gols_Visita,Chute_casa,Chutes_visita,chute_errados_casa,chutes_errados_visita,defesas_casa,defesas_visita,escanteios_casa,escanteios_visita,faltas_sofridas_casa,faltas_sofridas_visita,faltas_cometidas_casa,faltas_cometidas_visita,impedimentos_casa,impedimentos_visita,Vencedor
0,Arsenal,2:1,NottmForest,2,1,15,6,3,3,1,5,8,3,12,12,12,12,2,1,Arsenal
1,Arsenal,2:2,Fulham,2,2,19,8,5,3,1,8,8,3,5,5,6,5,4,1,Empate
2,Arsenal,3:1,ManUtd,3,1,17,10,4,1,1,2,12,3,7,8,8,7,2,1,Arsenal
3,Arsenal,2:2,Tottenham,2,2,13,13,4,4,3,4,11,4,18,11,12,19,2,3,Empate
4,Arsenal,1:0,ManCity,1,0,12,4,6,2,0,1,5,4,7,8,8,7,2,0,Arsenal
5,Arsenal,5:0,SheffUtd,5,0,13,2,2,1,0,2,6,1,13,9,9,13,1,1,Arsenal
6,Arsenal,3:1,FCBurnley,3,1,16,8,6,3,4,3,13,3,9,7,8,9,3,2,Arsenal
7,Arsenal,2:1,Wolves,2,1,19,6,8,3,2,4,4,0,8,9,10,10,3,0,Arsenal
8,Arsenal,2:0,Brighton,2,0,26,6,8,3,1,6,10,1,9,10,11,9,1,1,Arsenal
9,Arsenal,0:2,WestHam,0,2,30,6,12,1,1,8,10,3,8,7,8,8,0,1,WestHam
10,Arsenal,5:0,CrystalPalace,5,0,21,12,8,5,5,2,6,7,12,7,8,12,5,2,Arsenal
11,Arsenal,3:1,Liverpool,3,1,15,10,3,7,1,4,2,4,10,10,11,11,3,1,Arsenal
12,Arsenal,4:1,Newcastle,4,1,18,3,6,1,1,4,9,0,5,14,15,6,3,2,Arsenal
13,Arsenal,2:1,Brentford,2,1,17,9,6,2,3,4,10,4,10,9,9,10,1,2,Arsenal
14,Arsenal,5:0,Chelsea,5,0,27,7,7,4,1,6,4,2,10,12,12,11,3,0,Arsenal
15,Arsenal,2:0,Luton,2,0,13,5,1,3,1,4,3,1,8,11,12,8,1,1,Arsenal
16,Arsenal,0:2,AstonVilla,0,2,18,11,8,4,0,4,4,6,6,12,12,7,5,1,AstonVilla
17,Arsenal,3:0,Bournemouth,3,0,24,7,8,3,2,6,6,1,11,15,16,12,5,0,Arsenal
18,Arsenal,2:1,Everton,2,1,26,5,11,2,1,4,8,1,10,8,8,11,1,4,Arsenal

In [48]:

aproveitamento_casa

np.float64(3.51)

In [17]:
px.bar(resultados)